<div class="container-fluid">
  <img class="footerLogo" src="../assets/img/footerLogo.png" alt="">
  <div class="information">
    <nav>
      <ul class="list-inline ">
        <li class="list-inline-item">
          <a href="">ABOUT US</a>
        </li>
        <li class="list-inline-item">
          <a href="">TERMS OF SERVICE</a>
        </li>
        <li class="list-inline-item">
          <a href="">PRIVACY POLICY</a>
        </li>
        <li class="list-inline-item">
          <a href="">CONTACT US</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="findParrot">
    <img class="logoFindParrot" src="../assets/img/footerLastPicture.png" alt="">
  </div>
</div>