.container-fluid{
    background-color: #323232;
}

.footerLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}

.information{
    margin-top: 3%;
    text-align: center;
}
.information a{
    color: #f7f7f7;
}
.information li{
    margin-right: 3%;
}
.findParrot{
    background-color: #272727;
    margin: 0% -1%;
    height: 10%;
}
.logoFindParrot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 2% 0%;
}