.container-fluid{
    background-color: #e4e5e9;
    height: 76px;
    position: fixed; 
    z-index: 999;
}

.imgLogo{
   width: 140px;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 70px;
    object-fit: contain;
}
nav{
    padding-top: 8%;
}

nav ul li a{
    color: black;
    display: inline;
    font-size: 14px;

}


