<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 offset-md-1">
      <img class="imgLogo" src="../assets/img/logoFindParrot.png" alt="">
    </div>
    <div class="col-md-3 offset-md-5 ">
      <span class="align-middle">
        <nav>
          <ul class="list-inline pull-right">
            <li class="list-inline-item">
              <a href="">ALL PRODUCT</a>
            </li>
            <li class="list-inline-item">
              <a href="">ABOUT US</a>
            </li>
            <li class="list-inline-item">
              <a href="">LOG IN</a>
            </li>
            <li class="list-inline-item">
              <a href="">SING UP</a>
            </li>
          </ul>
        </nav>
      </span>
    </div>
  </div>
</div>