mdb-navbar{
    background-color: #e4e5e9!important;
}

.imgLogo{
   width: 140px;
    padding-top: 4px;
    padding-bottom: 4px;
    height: 70px;
    object-fit: contain;
}
nav{
    padding-top: 8%;
}

nav ul li a{
    color: black;
    display: inline;
    font-size: 14px;

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (-webkit-min-device-pixel-ratio: 1){
    .ml-auto{
        text-align: center;
    }
}


