<mdb-navbar SideClass="navbar sticky-top navbar-expand-lg navbar-light grey lighten-3">
  <logo>
    <img class="imgLogo" src="../assets/img/logoFindParrot.png">
  </logo>
  <links>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item ">
      <a class="nav-link waves-light" mdbWavesEffect>ALL PRODUCT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-light" mdbWavesEffect>ABOUT US</a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-light" mdbWavesEffect>LOG IN</a>
    </li>
    <li class="nav-item">
      <a class="nav-link waves-light" mdbWavesEffect>SING UP</a>
    </li>
  </ul>
</links>
</mdb-navbar>