<div class="container-fluid">
  <h2>Most Popular Products</h2>
  <p>This is the list of products that are most interested in user</p>
  <div class="row">
    <div class="col-md-8 offset-md-2">
            <div class="img-frame-cap">
              <img src="../assets/img/testImageFour.png" alt="image name">
              <div class="caption">Pink Rose</div>
              </div>
              <!--<div class="img-frame-cap">
                <img src="../assets/img/testImageFour.png" alt="image name">
                <div class="caption">Pink Rose</div>
                </div>
                <div class="img-frame-cap">
                  <img src="../assets/img/testImageFour.png" alt="image name">
                  <div class="caption">Pink Rose</div>
                  </div>-->
     <!-- <img src="../assets/img/testImageOne.png" alt="test">
      <img src="../assets/img/testImageTwo.png" alt="test">
      <img src="../assets/img/testImageThree.png" alt="test">-->
    </div>
    <div class="col-md-8 offset-md-2">
     <!-- <div class="img-frame-cap">
        <img src="../assets/img/testImageFour.png" alt="image name">
        <div class="caption">Pink Rose</div>
        </div>
        <div class="img-frame-cap">
          <img src="../assets/img/testImageFour.png" alt="image name">
          <div class="caption">Pink Rose</div>
          </div>
          <div class="img-frame-cap">
            <img src="../assets/img/testImageFour.png" alt="image name">
            <div class="caption">Pink Rose</div>
            </div>-->
     <!-- <img src="../assets/img/testImageFive.png" alt="test">
      <img src="../assets/img/testImageSix.png" alt="test">-->
    </div>
  </div>
  <a href="">All Products</a>
 
</div>