.container-fluid{
    background-color: #f7f7f7;
}

h2{
    text-align: center;
    font-size: 30px;
}

p{
    margin-top: 3%;
    text-align: center;
    font-size: 16px;
}

.allProducts{
    text-align: center;
}

a{
    line-height: 1px;
    margin-right: 3%;
    padding-top: 2%;
    text-decoration: underline ; 
    
}

img{
width: 25%;
height: 100%;
margin-right: 5%;
padding-bottom: 5%;
}

