<!--<div class="container-fluid">
  <h2>Most Popular Products</h2>
  <p>This is the list of products that are most interested in user</p>
  <div class="row">
    <div class="col-md-4">
      <img src="../assets/img/PictureOne.png" alt="">
    </div>
    <div class="col-md-4">
      <img src="../assets/img/PictureTwo.png" alt="">
    </div>
    <div class="col-md-4">
      <img src="../assets/img/PictureThree.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <img src="../assets/img/PictureFour.png" alt="">
    </div>
    <div class="col-md-4">
      <img src="../assets/img/PictureFive.png" alt="">
    </div>
    <div class="col-md-4">
      <img src="../assets/img/TimeCamp.png" alt="">
    </div>
  </div>
  <div class="allProducts">
    <a href="">All products</a>
  </div>
</div>-->

<div class="container-fluid">
  <h2>Most Popular Products</h2>
  <p>This is the list of products that are most interested in user</p>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <img src="../assets/img/PictureOne.png" alt="">
      <img src="../assets/img/PictureTwo.png" alt="">
      <img src="../assets/img/PictureThree.png" alt="">
    </div>
  </div>
</div>