<div class="view intro-2">
  <div class="full-bg-img">
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-7 offset-md-2">
          <h1>
            <span style='color:#484848'>Quick Search for Your</span>
            <span style='color: #0e7200'>Perfect Product</span>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 offset-md-5">INNOVATE &bull; LIST &bull; CONNECT</div>
      </div>

      <div class="row">
        <form class="formSearch" action="">
          <select class="z-depth-2" id="country" name="country">
            <option>Category</option>
            <option value="ca">Canada</option>
            <option value="usa">USA</option>
          </select>
          <input class="inputSearch z-depth-2">
          <button class="searching z-depth-2">Start Searching</button>
        </form>
      </div>

      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="flex-center " style="height: 70px;">

            <button type="button" class="btn">
              <img class="mr-2" height="20" src="../assets/img/buttonIcon.png" /> All Categories</button>

            <button type="button" class="btn">
              <img class="mr-2" height="20" src="../assets/img/buttonIconTwo.png" /> How it works ?</button>
             
          </div>
        </div>
      </div>
    </div>
  </div>
</div>