h1{
    text-align: center;
    padding-top: 15%;
}

input[type="text"]{
    width: 50%;
}

.searching{
    color: white;
    background-color: #4dadbb;
    border-radius: 0px 10px 10px 0px;
    position: absolute;
    top: auto;
    border: none;
    height: 100%;
}
.formSearch{
    width: 100%;
    margin: 0 auto;
    display: block;
    text-align: center;
    position:relative;
}
.btn{
    background-color: #f9f9f9;
    border: none;
    opacity: 0.8;
    color: #3FAB61;
    height: 70px;
}


.container-fluid{
    background: url("/assets/img/fon.png") no-repeat;
}
p{
    text-align: center;
    font-size: 18px;
}
select{
    background-color: aqua;
}

select {
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    border-radius: 7px 0px 0px 7px; 
    border: 2px solid #ffff;
    width: 20%;
    padding: 16px 20px;
    
}
.inputSearch{
    padding: 16px 20px;
    border: 2px solid #ffff;
}
#selectoption {
    border-left:none;
    padding:none;
}

#datahere {
    position:relative;
    border-right:none;
    padding:none;
}
form{
    margin-top: 100px;
}