<div class="container-fluid">
  <h1>
    <span style='color:#484848'>Quick Search for Your</span>
    <span style='color: #0e7200'>Perfect Product</span>
  </h1>
  <h2>INNOVATE LIST CONNECT</h2>
  <form class="formSearch" action="">
    <input type="text">
    <datalist id="cityname">
      <option value="Boston">
        <option value="Cambridge">
    </datalist>
    <button class="searching">Searching</button>
  </form>
  <div class="downButton">
    <button class="allCategories" type="submit">
      <img src="../assets/img/buttonIcon.png" /> All Categories
    </button>
    <button class="allCategories" type="submit">
      <img src="../assets/img/buttonIconTwo.png" /> All Categories
    </button>
  </div>
</div>