<!--<div class="container-fluid">
        <p align="center" class="paragraphOne">Testimonials</p>
        <p align="center" class="paragraphTwo">What our customers told about us</p>
        <div class="row">
        <div class="carousel">
            <img src="../assets/img/UserPhotoTest.png" alt="">
            <img src="../assets/img/UserPhotoTest.png" alt="">
            <img src="../assets/img/UserPhotoTest.png" alt="">
        </div>
        <a href="#" id="prev">
            <img class="left" src="../assets/img/left.png" alt="">
        </a>
        <a href="#" id="next">
            <img class="navigation" src="../assets/img/right.png" alt="">
        </a>
    </div>
</div>-->

<section id="review">
    <div class="sec-title">
      <div class="sec-h2">Testimonials</div>
      <div class="sec-p">What our customers told about us</div>
    </div>
   <div class="swiper">
    <div class="arrows arrow-left">
      <button>
        <img src="assets/img/arrow_left.png" alt="">
      </button>
    </div>
      <div class="swiper-container">
     
       <div class="swiper-wrapper">
         <div class="swiper-slide">
           <div class="avatar">
             <img src="assets/img/johnphoto-1.png">
           </div>
           <div class="review-text">
             <p>
               I have been incredibly impressed with LinkUp team of developers. They worked hard to deliver the highest-quality product
               possible and exceeded my expectations at every step of the way. I initially found Andriy in search of a better
               price than what I could find locally with other development firms. But what I found - in addition to a better
             </p>
           </div>
           <div class="author">
             <span class="author-name">John Kamman</span>
             <span class="author-job">Wholesum Founder</span>
           </div>
         </div>
         <div class="swiper-slide">
           <div class="avatar">
             <img src="assets/img/layer-11.png">
           </div>
           <div class="review-text">
             <p>
               I have been incredibly impressed with LinkUp team of developers. They worked hard to deliver the highest-quality product
               possible and exceeded my expectations at every step of the way. I initially found Andriy in search of a better
               price than what I could find locally with other development firms. But what I found - in addition to a better
               price - was a much higher-quality product as well, in every way: service, design, development, communications...etc.
               5+++ Stars work. Great job.
             </p>
           </div>
           <div class="author">
             <span class="author-name">John Kamman</span>
             <span class="author-job">Wholesum Founder</span>
           </div>
         </div>
         <div class="swiper-slide">
           <div class="avatar">
             <img src="assets/img/layer-12.png">
           </div>
           <div class="review-text">
             <p>
               I have been incredibly impressed with LinkUp team of developers. They worked hard to deliver the highest-quality product
               possible and exceeded my expectations at every step of the way.t what I found - in addition to a better
               price - was a much higher-quality product as well, in every way: service, design, development, communications...etc.
               5+++ Stars work. Great job.
             </p>
           </div>
           <div class="author">
             <span class="author-name">John Kamman</span>
     
             <span class="author-job">Wholesum Founder</span>
           </div>
         </div>
       </div>
     </div>
     <div class="arrows arrow-right">
      <button>
        <img src="assets/img/arrow_right.png" alt="">
      </button>
    </div>
   </div>
  </section>
  
  
