<!--<div class="contaner-fluid">
    <div id="wrapper">
        <div id="carousel-left">
            <img src="../assets/img/PictureOne.png" width="450" height="325" />
            <img src="../assets/img/PictureOne.png" width="450" height="325" />
            <img src="../assets/img/PictureOne.png" width="450" height="325" />
            <img src="../assets/img/PictureOne.png" width="450" height="325" />
        </div>
        <div id="carousel-center">
            <img src="../assets/img/PictureOne.png" width="550" height="400" />
            <img src="../assets/img/PictureOne.png" width="550" height="400" />
            <img src="../assets/img/PictureOne.png" width="550" height="400" />
            <img src="../assets/img/PictureOne.png" width="550" height="400" />
        </div>
        <div id="carousel-right">
            <img src="../assets/img/PictureOne.png" width="450" height="325" />
            <img src="../assets/img/PictureOne.png" width="450" height="325" />
            <img src="../assets/img/PictureOne.png" width="450" height="325" />
            <img src="../assets/img/PictureOne.png" width="450" height="325" />
        </div>
        <a id="prev" href="#">&lsaquo;</a>
        <a id="next" href="#">&rsaquo;</a>
    </div>
</div>-->

<div class="container-fluid">
    <div   class="carousel">
           <!-- <img src="../assets/img/UserPhotoTest.png" alt="">
            <img src="../assets/img/UserRight.png" alt="">
            <img src="../assets/img/UserPhotoTest.png" alt="">-->
            <div class="PhotoCenter"><img src="../assets/img/UserPhotoTest.png" alt=""></div>
            <div class="PhotoCenter"><img src="../assets/img/UserPhotoTest.png" alt=""></div>
            <div class="PhotoCenter"><img src="../assets/img/UserPhotoTest.png" alt=""></div>
    </div>
    <div>
    <a href="#" id="prev">Prev</a>
    <a href="#" id="next">next</a>
</div>
</div>