<div class="container-fluid">
    <div class="row">
        <div class="carousel">
            <img src="../assets/img/UserPhotoTest.png" alt="">
            <img src="../assets/img/UserPhotoTest.png" alt="">
            <img src="../assets/img/UserPhotoTest.png" alt="">
        </div>
        <a href="#" id="prev">
            <img class="left" src="../assets/img/left.png" alt="">
        </a>
        <a href="#" id="next">
            <img class="navigation" src="../assets/img/right.png" alt="">
        </a>
    </div>
</div>