.container-fluid{
	height:830px;
	width: 100%;
	background-color: #4dadbb;
}

.carousel{
	margin-top: -25%;
	margin-left: 10%;
	width: 80%;
}

#prev{
	padding-left: 10%;
	margin-top: 30%;
	
}

#next{
	margin-left: 90%;
}

